.corredor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    img {
      width: 100%;
      max-width: 300px; /* Puedes ajustar el tamaño máximo de la imagen */
      height: auto;
      border-radius: 8px; /* Opcional: Añadir bordes redondeados */
      margin-bottom: 16px; /* Espacio entre la imagen y el texto */
    }
  
    ion-label {
      width: 100%;
    }
  
    h2 {
      font-size: 1.5em; /* Ajusta el tamaño de la fuente del nombre */
      margin: 0;
    }
  
    p {
      font-size: 1em; /* Ajusta el tamaño de la fuente de la descripción */
      margin: 4px 0;
    }
  }