<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-content [fullscreen]="true">

    <ion-card>
      <ion-card-header>
        <ion-card-title> FORMULA 1 </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Bienvenido a la aplicacion oficial de Formula 1
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <img alt="Escuderias de la Formula 1" src="assets/allescuderias.jpg" />
      <ion-card-header>
        <ion-card-title>Escuderías de la Fórmula 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Explora las diferentes escuderías de la Fórmula 1.</p>
        <ion-button color="danger" expand="full" routerLink="/escuderias">Ver escuderías</ion-button>
      </ion-card-content>
    </ion-card>
  

    <ion-card>
      <img alt="Silhouette of mountains" src="assets/allcorredores.jpg" />
      <ion-card-header>
        <ion-card-title>Corredores de las escuderias</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>Explora los diferentes corredores de la Formula 1.</p>
        <ion-button color="danger" expand="full" routerLink="/corredores">Ver Corredores</ion-button>
      </ion-card-content>
    </ion-card>
    
  </ion-content>
